{% extends 'customadmin/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
    {% csrf_token %}

    

    {% include "customadmin/includes/list_header_card.html" with title="Create a new class" subtitle="Create a new class and assign keywords and covers to it." show_button=True %}

    <div class="ibox float-e-margins">
        {% comment %} <div class="ibox-title">
            <div class="ibox-tools">
                {% if perms.users.add_user %}
                <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Add {{ opts.verbose_name|capfirst }}</a>
                {% endif %}
            </div>
        </div> {% endcomment %}


        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                    <thead>
                        <tr>
                            <th>Creator</th>
                            <th>Title</th>
                            <th>Thumbnail File</th>
                            <th>Class File</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Creator</th>
                            <th>Title</th>
                            <th>Thumbnail File</th>
                            <th>Class File</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for o in object_list %}
                        <tr>
                            <td>{{ o.creator }}</td>
                            <td>{{ o.title }}</td>
                            {% if o.thumbnail_file %}
                                {% if '.jpg' in o.thumbnail_file.url or '.JPG' in o.thumbnail_file.url %}
                                <td width="180px" height="80px">
                                    <img src="{{MEDIA_URL}}{{ o.thumbnail_file.url }}" height="100px" width="180px">
                                </td>
                                {% elif '.jpeg' in o.thumbnail_file.url or '.JPEG' in o.thumbnail_file.url %}
                                <td width="180px" height="80px">
                                    <img src="{{MEDIA_URL}}{{ o.thumbnail_file.url }}" height="100px" width="180px">
                                </td>
                                {% elif '.png' in o.thumbnail_file.url or '.PNG' in o.thumbnail_file.url %}
                                <td width="180px" height="80px">
                                    <img src="{{MEDIA_URL}}{{ o.thumbnail_file.url }}" height="100px" width="180px">
                                </td>
                                {% elif '.mp4' in o.thumbnail_file.url or '.mp3' in o.thumbnail_file.url %}
                                <td width="180px" height="80px">
                                <video width="80px" height="80px" controls autoplay>
                                    <source src="{{MEDIA_URL}}{{ o.thumbnail_file.url }}" type="video/mp4"> </source>
                                </video>
                                </td>
                                {% elif '.pdf' in o.thumbnail_file.url %}
                                    <td>PDF file</td>
                                {% elif '.mkv' in o.thumbnail_file.url %}
                                    <td>MKV file</td>
                                {% elif '.rar' in o.thumbnail_file.url %}
                                    <td>RAR file</td>
                                {% elif '.zip' in o.thumbnail_file.url %}
                                    <td>ZIP file</td>
                                {% elif '.csv' in o.thumbnail_file.url %}
                                    <td>CSV file</td>
                                {% elif '.gif' in o.thumbnail_file.url %}
                                    <td>GIF file</td>
                                {% else %}
                                    <td>Other file</td>
                                {% endif %}
                            {% else %}
                            <td>No Thumbnail File</td>
                            {% endif %}
                            {% if o.class_file %}
                                {% if '.jpg' in o.class_file.url or '.JPG' in o.class_file.url %}
                                <td width="180px" height="80px">
                                    <img src="{{MEDIA_URL}}{{ o.class_file.url }}" height="100px" width="180px">
                                </td>
                                {% elif '.jpeg' in o.class_file.url or '.JPEG' in o.class_file.url %}
                                <td width="180px" height="80px">
                                    <img src="{{MEDIA_URL}}{{ o.class_file.url }}" height="100px" width="180px">
                                </td>
                                {% elif '.png' in o.class_file.url or '.PNG' in o.class_file.url %}
                                <td width="180px" height="80px">
                                    <img src="{{MEDIA_URL}}{{ o.class_file.url }}" height="100px" width="180px">
                                </td>
                                {% elif '.mp4' in o.class_file.url or '.mp3' in o.class_file.url %}
                                    <td width="180px" height="80px">
                                    <video width="80px" height="80px" controls autoplay>
                                        <source src="{{MEDIA_URL}}{{ o.class_file.url }}" type="video/mp4"> </source>
                                    </video>
                                    </td>
                                {% elif '.pdf' in o.class_file.url %}
                                    <td>PDF file</td>
                                {% elif '.mkv' in o.class_file.url %}
                                    <td>MKV file</td>
                                {% elif '.rar' in o.class_file.url %}
                                    <td>RAR file</td>
                                {% elif '.zip' in o.class_file.url %}
                                    <td>ZIP file</td>
                                {% elif '.csv' in o.class_file.url %}
                                    <td>CSV file</td>
                                {% elif '.gif' in o.class_file.url %}
                                    <td>GIF file</td>
                                {% else %}
                                    <td>Other file</td>
                                {% endif %}
                            {% else %}
                            <td>No class File</td>
                            {% endif %}
                            </td>
                            <td class="row-actions">
                                {% include "customadmin/partials/list_row_more_actions.html" %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'customadmin/js/userroles.js' %}"></script>

<script>
    var pagination_url = "{% url opts|admin_urlname:'list-ajax' %}";
    $(function () {
        userroles.creatorclasses.index();
    });
</script>
{% endblock %}