{% extends 'customadmin/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
    {% csrf_token %}

    

    {% include "customadmin/includes/list_header_card.html" with title="Create a new creator" subtitle="Create a new creator and assign other skills." show_button=True %}

    <div class="ibox float-e-margins">
        {% comment %} <div class="ibox-title">
            <div class="ibox-tools">
                {% if perms.users.add_user %}
                <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Add {{ opts.verbose_name|capfirst }}</a>
                {% endif %}
            </div>
        </div> {% endcomment %}


        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Profile Image</th>
                            <th>Key Skill</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Profile Image</th>
                            <th>Key Skill</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for o in object_list %}
                        <tr>
                            <td>{{ o.username }}</td>
                            <td>{{ o.email }}</td>
                            <td>{{ o.first_name }}</td>
                            <td>{{ o.last_name }}</td>
                            {% if o.profile_image %}
                            <td height="80px" width="180px"><img src="{{MEDIA_URL}}{{ o.profile_image.url }}" alt="no image" height="80x" width="180px"></td>
                            {% else %}
                            <td height="60px" width="150px"><img src="{% static 'customadmin/img/big-icon@1.5x.png' %}" alt="no image" height="60x" width="120px"></td>
                            {% endif %}
                            <td>{{ o.key_skill }}</td>
                            <td>
                                {% if o.get_status_display == 'Pending' %}
                                <a href="#" class="btn btn-danger btn-xs" onclick="reject_creator('{{ o.pk }}')">Reject</a>    
                                <a href="#" class="btn btn-success btn-xs" onclick="accept_creator('{{ o.pk }}')">Accept</a>
                                {% elif o.get_status_display == 'Accepted' %}
                                <span style="background-color: green; border-radius: 5px;" class="p-2 text-white">Accepted</span>
                                {% elif o.get_status_display == 'Rejected' %}
                                <span style="background-color: red; border-radius: 5px;" class="p-2 text-white">Rejected</span>
                                {% endif %}
                            </td>
                            <td class="row-actions">
                                {% include "customadmin/partials/list_row_more_actions.html" %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'customadmin/js/userroles.js' %}"></script>

<script>
    var pagination_url = "{% url opts|admin_urlname:'list-ajax' %}";
    $(function () {
        userroles.creators.index();
    });
    function accept_creator(creator_id){
        $.ajax({
            url: "{% url opts|admin_urlname:'accept' %}",
            data: {
            'creator_id': creator_id
            },
            dataType: 'json',
            success: function (data) { 
                setTimeout(location.reload(true),200)
            }
        });
    }
    function reject_creator(creator_id){
        $.ajax({
            url: "{% url opts|admin_urlname:'reject' %}",
            data: {
            'creator_id': creator_id
            },
            dataType: 'json',
            success: function (data) { 
                setTimeout(location.reload(true),200)
            }
        });
    }
</script>
{% endblock %}