{% extends 'customadmin/change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_content %}
    <form id="{{ opts.model_name }}-form" action="" method="post" enctype="multipart/form-data" autocomplete="off">

        {% include "customadmin/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">

            {% include "customadmin/partials/ibox_title.html" with ibox_title="Material Details" icon_class="fas fa-sign-in-alt" only %}

            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-6">

                        {{ form.creator|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.material_category|as_crispy_field }}
                    </div>
                </div>             
                <div class="row">
                    <div class="col-sm-12">

                        {{ form.title|as_crispy_field }}
                    </div>
                </div>             
                <div class="row">
                    <div class="col-sm-6">

                        {{ form.thumbnail_file|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">

                        <input type="file"  id="id_material_file_placeholder">
                        <button type="button" class="btn btn-primary btn-sm" id="id_upload">Upload</button>
                        <div id="results"></div>
                        {{ form.material_file|attr:'hidden'|as_crispy_field }}
                            {% if form.material_file.value %}
                                <a href="{{form.material_file.value.url}}" target="blank">{{form.material_file.value.url}}</a>
                        {% endif %}
                    </div>
                </div>             


            </div>
            <!-- /ibox-content -->

        </div>
        <!-- /ibox --> 

        
        {% include "customadmin/partials/form_footer.html" %}

    </form>

{% endblock %}


{% block js %}
{{ block.super }}


<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
<script type="text/javascript">
    const ENDPOINT_URL = "{{ENDPOINT_URL}}"
    const ACCESS_KEY_ID = "{{AWS_ACCESS_KEY_ID}}"
    const ACCESS_KEY_SECRET = "{{AWS_SECRET_ACCESS_KEY}}"
    const BUCKET_NAME = "{{AWS_STORAGE_BUCKET_NAME}}"
    const AWS_S3_REGION_NAME = '{{REGION_NAME}}'
    const AWS_S3_SIGNATURE_VERSION = '{{SIGNATURE_VERSION}}'
    
    var bucket = new AWS.S3({
        accessKeyId: ACCESS_KEY_ID,
        secretAccessKey: ACCESS_KEY_SECRET,
        signatureVersion: AWS_S3_SIGNATURE_VERSION,
        region :AWS_S3_REGION_NAME,
        maxRetries: 2,
        httpOptions: {
            connectTimeout: 120 * 1000, // time succeed in starting the call
            timeout: 600 * 1000, // time to wait for a response
            // the aws-sdk defaults to automatically retrying
            // if one of these limits are met.
        },
        endpoint: new AWS.Endpoint(ENDPOINT_URL),
        params: {
            Bucket: BUCKET_NAME
        }
    })
    
    var fileChooser = document.getElementById('id_material_file_placeholder')
    var class_file = document.getElementById('id_material_file')
    var button = document.getElementById('id_upload')
    var results = document.getElementById('results')
    
    button.addEventListener('click', function() {
        var file = fileChooser.files[0]
        results.innerHTML = ''
        if (!file) {
            results.innerHTML = 'Nothing to upload.'
            return
        }

        file_path = '{{path}}/' + file.name;
        results.innerHTML = "uploading...";
        var params = {
            Key: file_path,
            ContentType: file.type,
            Body: file,
            ACL: 'public-read'
        }
        bucket.putObject(params, function(err, data) {
            if (err) {
                results.innerHTML = 'ERROR: ' + err;
                return
            }
            results.innerHTML = file_path;
            class_file.value = file_path;
        })
    }, false)
</script>



<script src="{% static 'customadmin/js/userroles.js' %}"></script>
<script>
    $(function() {
        userroles.materialcategories.details();
    });
</script>
{% endblock %}