{% extends 'customadmin/change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
<!-- {% url 'customadmin:creatorclass-create' %} -->

{% block page_content %}
    <form id="{{ opts.model_name }}-form" action="" method="post" enctype="multipart/form-data" autocomplete="off">

        {% include "customadmin/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">

            {% include "customadmin/partials/ibox_title.html" with ibox_title="Stream Info" icon_class="fas fa-user" only %}

            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-6" id="id_material">
                        {{ form.creator|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.title|as_crispy_field }}
                    </div>
                    
                    
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.thumbnail_file|as_crispy_field }}
                    </div>
                    <!-- <div class="col-sm-6">
                        {{ form.sneak_peak_file|as_crispy_field }}
                    </div> -->
                    <div class="col-sm-6">
                        <input type="file"  id="id_sneak_peak_file_placeholder">
                        <button type="button" class="btn btn-primary btn-sm" id="id_upload">Upload</button>
                        <div id="results"></div>
                        {{ form.sneak_peak_file|attr:'hidden'|as_crispy_field }}
                            {% if form.sneak_peak_file.value %}
                                <a href="{{form.sneak_peak_file.value.url}}" target="blank">{{form.sneak_peak_file.value.url}}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.stream_datetime|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.stream_amount|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.total_seats|as_crispy_field }}
                    </div>
                </div>

                
            </div>
            <!-- /ibox-content -->

        </div>




        <div class="ibox float-e-margins">

            {% include "customadmin/partials/ibox_title.html" with ibox_title="Add Keywords" icon_class="fas fa-user" only %}

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                  
                        {% for formset in inlines %}
                        {% if formset.prefix == 'stream_keywords' %}
                        <div  class="form-group">
                            <table>
                                
                                {{ formset.management_form|crispy }}
                                
                                {% for form in formset.forms %}
                                        <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
                                            {% for field in form.visible_fields %}
                                            <td>
                                                
                                                {# Include the hidden fields in the form #}
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}
                                                {{ field.errors.as_ul }}
                                                {{ field|as_crispy_field }}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                {% endfor %}
                                
                            </table>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">

            {% include "customadmin/partials/ibox_title.html" with ibox_title="Add Covers" icon_class="fas fa-user" only %}

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                  
                        {% for formset in inlines %}
                        {% if formset.prefix == 'streamcovers_set' %}
                        <div  class="form-group">
                            <table>
                                
                                {{ formset.management_form|crispy }}
                                
                                {% for form in formset.forms %}
                                        <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
                                            {% for field in form.visible_fields %}
                                            <td>
                                                
                                                {# Include the hidden fields in the form #}
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}
                                                {{ field.errors.as_ul }}
                                                {{ field|as_crispy_field }}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                {% endfor %}
                                
                            </table>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include "customadmin/partials/form_footer.html" %}

    </form>

{% endblock %}


{% block js %}
{{ block.super }}

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
<script type="text/javascript">
    const ENDPOINT_URL = "{{ENDPOINT_URL}}"
    const ACCESS_KEY_ID = "{{AWS_ACCESS_KEY_ID}}"
    const ACCESS_KEY_SECRET = "{{AWS_SECRET_ACCESS_KEY}}"
    const BUCKET_NAME = "{{AWS_STORAGE_BUCKET_NAME}}"
    const AWS_S3_REGION_NAME = '{{REGION_NAME}}'
    const AWS_S3_SIGNATURE_VERSION = '{{SIGNATURE_VERSION}}'
    
    var bucket = new AWS.S3({
        accessKeyId: ACCESS_KEY_ID,
        secretAccessKey: ACCESS_KEY_SECRET,
        signatureVersion: AWS_S3_SIGNATURE_VERSION,
        region :AWS_S3_REGION_NAME,
        endpoint: new AWS.Endpoint(ENDPOINT_URL),
        params: {
            Bucket: BUCKET_NAME
        }
    })
    
    var fileChooser = document.getElementById('id_sneak_peak_file_placeholder')
    var class_file = document.getElementById('id_sneak_peak_file')
    var button = document.getElementById('id_upload')
    var results = document.getElementById('results')
    
    button.addEventListener('click', function() {
        var file = fileChooser.files[0]
        results.innerHTML = ''
        if (!file) {
            results.innerHTML = 'Nothing to upload.'
            return
        }

        file_path = '{{path}}/' + file.name;
        results.innerHTML = "uploading...";
        var params = {
            Key: file_path,
            ContentType: file.type,
            Body: file,
            ACL: 'public-read'
        }
        bucket.putObject(params, function(err, data) {
            if (err) {
                results.innerHTML = 'ERROR: ' + err;
                return
            }
            results.innerHTML = file_path;
            class_file.value = file_path;
        })
    }, false)
</script>


<script src="{% static 'customadmin/js/jquery.formset.js' %}"></script>
<script>
    $(function() {
        $('.formset_row-stream_keywords').formset({
            addText: 'Add Another',
            deleteText: 'Remove',
            prefix: 'creator',
            addCssClass: 'add-row btn btn-success',
            deleteCssClass: 'hidden btn-delete btn btn-danger',

        });
    });
    $(function() {
        $('.formset_row-streamcovers_set').formset({
            addText: 'Add Another',
            deleteText: 'Remove',
            prefix: 'creator',
            addCssClass: 'add-row btn btn-success',
            deleteCssClass: 'hidden btn-delete btn btn-danger',

        });
    });
    $(function() {
        $('.formset_row-classmaterial_set').formset({
            addText: 'Add Another',
            deleteText: 'Remove',
            prefix: 'creator',
            addCssClass: 'add-row btn btn-success',
            deleteCssClass: 'hidden btn-delete btn btn-danger',

        });
    });
</script>
<script src="{% static 'customadmin/js/userroles.js' %}"></script>
<script>
    $(function() {
        userroles.creatorclasses.details();
    });
</script>
<script>
    $(function() {
        var d = new Date().getDate()
        $('div > #id_stream_datetime').datetimepicker({
            format:'Y-m-d H:i',
            minDate:`${d}`,
        });
});
</script>
{% endblock %}