{% extends 'customadmin/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
    {% csrf_token %}

    

    {% include "customadmin/includes/list_header_card.html" with title="Create a new class" subtitle="Create a new class and assign keywords and covers to it." show_button=True %}

    <div class="ibox float-e-margins">
        {% comment %} <div class="ibox-title">
            <div class="ibox-tools">
                {% if perms.users.add_user %}
                <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Add {{ opts.verbose_name|capfirst }}</a>
                {% endif %}
            </div>
        </div> {% endcomment %}


        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                    <thead>
                        <tr>
                            <th>Creator</th>
                            <th>Title</th>
                            <th>Thumbnail File</th>
                            <th>Sneak Peak File</th>
                            <th>Stream DateTime</th>
                            <th>Stream Amount</th>
                            <th>Stream Total Seats</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Creator</th>
                            <th>Title</th>
                            <th>Thumbnail File</th>
                            <th>Sneak Peak File</th>
                            <th>Stream DateTime</th>
                            <th>Stream Amount</th>
                            <th>Stream Total Seats</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for o in object_list %}
                        <tr>
                            <td>{{ o.creator }}</td>
                            <td>{{ o.title }}</td>
                            {% if o.thumbnail_file %}
                            <td><img src="{{MEDIA_URL}}{{ o.thumbnail_file.url }}" height="80x" width="80px"></td>
                            {% else %}
                            <td>No Thumbnail File</td>
                            {% endif %}
                            {% if o.sneak_peak_file %}
                                {% if '.jpg' in o.sneak_peak_file.url %}
                                    <td>uploaded jpg file</td>
                                {% elif '.jpeg' in o.sneak_peak_file.url %}
                                    <td>uploaded jpeg file</td>
                                {% elif '.png' in o.sneak_peak_file.url %}
                                    <td>uploaded png file</td>
                                {% elif '.mp3' in o.sneak_peak_file.url %}
                                    <td>uploaded mp3 file</td>
                                {% elif '.pdf' in o.sneak_peak_file.url %}
                                    <td>uploaded pdf file</td>
                                {% elif '.mkv' in o.sneak_peak_file.url %}
                                    <td>uploaded mkv file</td>
                                {% elif '.rar' in o.sneak_peak_file.url %}
                                    <td>uploaded rar file</td>
                                {% elif '.zip' in o.sneak_peak_file.url %}
                                    <td>uploaded zip file</td>
                                {% elif '.csv' in o.sneak_peak_file.url %}
                                    <td>uploaded csv file</td>
                                {% elif '.gif' in o.sneak_peak_file.url %}
                                    <td>uploaded gif file</td>
                                {% elif '.ico' in o.sneak_peak_file.url %}
                                    <td>uploaded ico file</td>
                                {% elif '.svg' in o.sneak_peak_file.url %}
                                    <td>uploaded svg file</td>
                                {% elif '.psd' in o.sneak_peak_file.url %}
                                    <td>uploadedpsd file</td>
                                {% else %}
                                    <td>uploaded other file</td>
                                {% endif %}
                            {% else %}
                            <td>No Sneak Peak File</td>
                            {% endif %}
                            <td>{{ o.stream_datetime|date:'d-m-Y, H:i' }}</td>
                            <td>{{ o.stream_amount }}</td>
                            <td>{{ o.total_seats }}</td>
                            </td>
                            <td class="row-actions">
                                {% include "customadmin/partials/list_row_more_actions.html" %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'customadmin/js/userroles.js' %}"></script>

<script>
    var pagination_url = "{% url opts|admin_urlname:'list-ajax' %}";
    $(function () {
        userroles.streams.index();
    });
</script>

{% endblock %}