{% extends 'customadmin/base.html' %}

{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}

{% load admin_extras %}

{% block title %}Dashboard{% endblock%}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% now "Y" as year_arg %}
{% now "M" as month_arg %}
{% now "d" as day_arg %}




<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
            <!-- <span class="label label-success float-right">Monthly</span> -->
          </div>
          <h5>Users</h5>
        </div>
        <div class="ibox-content">
          <h3 class="no-margins">{{ user_count }}</h3>
          <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
          <!-- <small>Recently joined</small> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
            <!-- <span class="label label-info float-right">Annual</span>/ -->
          </div>
          <h5>Approved Creators</h5>
        </div>
        <div class="ibox-content">
          <h3 class="no-margins">{{ creator_count }}</h3>
          <!-- <div class="stat-percent font-bold text-info">20% <i class="fa fa-arrow-up"></i></div> -->
          <!-- <small>Newly registered</small> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
            <!-- <span class="label label-primary float-right">Today</span> -->
          </div>
          <h5>Pending Creators</h5>
        </div>
        <div class="ibox-content">
          <h3 class="no-margins">{{pending_creator_count}}</h3>
          <!-- <div class="stat-percent font-bold text-navy">44% <i class="fa fa-thumbs-up"></i></div> -->
          <!-- <small>Recently created</small> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
            <!-- <span class="label label-danger float-right">Low value</span> -->
          </div>
          <h5>Creator Classes Earnings</h5>
        </div>
        <div class="ibox-content">
          <h3 class="no-margins">{{creator_classes_earnings}}</h3>
          <!-- <div class="stat-percent font-bold text-danger"><i class="fa fa-angle-down"></i></div> -->
          <!-- <small>Newly registered</small> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
          <div class="ibox ">
            <div class="ibox-title">
              <div class="ibox-tools">
              </div>
              <h5>Upcoming Streams</h5>
            </div>
            <div class="ibox-content">
              <h3 class="no-margins">{{ live_stream }}</h3>
            </div>
          </div>
    </div>
    <div class="col-lg-3">
          <div class="ibox ">
            <div class="ibox-title">
              <div class="ibox-tools">
              </div>
              <h5>Transferred Money</h5>
            </div>
            <div class="ibox-content">
              <h3 class="no-margins">{{ transfer_money }}</h3>
            </div>
          </div>
    </div>
  </div>
  <div class="chart-main">
              <div class="row">
                <div class="col-lg-12">
                  <div class="heading">
                    <h4>Streams Per Month</h4>
                  </div>
                </div>
              </div>
  <div class="chart-area">
      <canvas id="myChart"  style="height: 300px;" class="chart-summary"></canvas>
  </div>
  </div>
</div>



<script src="{% static 'customadmin/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'customadmin/js/plugins/chartJs/Chart.min.js' %}"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var gradient = ctx.createLinearGradient(0, 0, 0, 250);
    gradient.addColorStop(0, 'rgba(30,183,179,1)');
    gradient.addColorStop(1, 'rgba(30,183,179,0)');

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        datasets: [{
            label: '# Streams',
            data: {{orders_count}},
            borderColor: [
               "#1EB7B3"
            ],
            backgroundColor: gradient,
            borderWidth: 3,
            strokeColor : "#1EB7B3",
            pointColor : "#1EB7B3",
            pointStrokeColor : "#1EB7B3",
            pointStrokeWidth: 3,
            pointHighlightFill: "#1EB7B3",
            pointHighlightStroke: "#1EB7B3",
        }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
        scales: {
          xAxes: [{
                    gridLines: {
                        display: false
                    }
                  }],
            yAxes: [{
              gridLines: {
                lineHeight: 0
              },
                ticks: {
                    beginAtZero: true,
                    padding: 0,
                }
            }]
        },

      legend: {
        position: 'top',
        display: false
      },
      title: {
            display: false,
            text: 'Bar Chart'
      },
      tooltips: {
        backgroundColor: '#fafafa',
        titleFontColor: '#000',
            callbacks: {
                labelColor: function(tooltipItem, chart) {
                    return {
                        borderColor: 'rgb(255, 0, 0)',
                    };
                },

                labelTextColor: function(tooltipItem, chart) {
                    return '#000';

                },

            }
        }
    },




});

</script>




{% comment %} <div class="row">

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-success float-right">Annnual</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">40,886,200</h1>
        <small>Total income</small>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-info float-right">Monthly</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">275,800</h1>
        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
        <small>New orders</small>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-primary float-right">Today</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">106,120</h1>
        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
        <small>New visits</small>
      </div>
    </div>
  </div>

</div> {% endcomment %}
<!-- /row -->

{% endblock %}