{% load static %}
{% load admin_extras %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                  <a href="{% url 'customadmin:index' %}">  
                <img class="nav-image" src="{% static 'customadmin/img/side-icon@1.5x.png' %}"  width="100%" />
                 </a>  
                {% comment %} <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                    {% if request.user.is_authenticated %}{{ request.user }} {% endif%}
                                </strong>
                            </span>
                            <span class="text-muted text-xs block">Co-Founder
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'auth:auth_logout' %}" class="nav-label">Logout</a>
                        </li>
                        {% endif%}
                    </ul>
                </div> {% endcomment %}
                <div class="logo-element">
                    UC
                </div>
            </li>



            {% if perms.users or request.user.is_staff %}
            <li {% if 'users/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:user-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Users</span>
                </a>
            </li>

            {% endif %}
            
            {% if perms.users or request.user.is_staff %}
            <li {% if 'creators/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:creator-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Creators</span>
                </a>
            </li>
            {% endif %}
            {% if perms.users or request.user.is_staff %}
            <li {% if 'keywords/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:adminkeyword-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Keywords</span>
                </a>
            </li>
            {% endif %}
            
            {% if perms.users or request.user.is_staff %}
            <li {% if 'classes/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:creatorclass-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Classes</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'streams/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:stream-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Streams</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'material-category/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:materialcategory-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Material Category</span>
                </a>
            </li>
            {% endif %}
            {% if perms.users or request.user.is_staff %}
            <li {% if 'material/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:material-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Materials</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'creator-reviews/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:creatorreview-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Creator Reviews</span>
                </a>
            </li>
            {% endif %}
            {% if perms.users or request.user.is_staff %}
            <li {% if 'class-reviews/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:classreview-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Class Reviews</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'testimonials/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:testimonial-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Testimonials</span>
                </a>
            </li>
            {% endif %}
            {% if perms.users or request.user.is_staff %}
            <li {% if 'one-to-one-sessions/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:onetoonesession-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">OneToOne Sessions</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'plans/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'customadmin:plan-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Plans</span>
                </a>
            </li>
            {% endif %}



        </ul>

    </div>
</nav>